<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>insta485</title>
</head>

<body>
    <div class = "heading">
      <a href="{{ url_for('show_index') }}" class = "home">Home</a>
      <a href="{{ url_for('show_explore') }}" class = "explore">Explore</a>
      <a href="{{url_for('show_user',username=logname)}}">{{logname}}</a>
    </div>
    <form action="/accounts/?target={{url_for('update_password')}}" method="post" enctype="multipart/form-data">
        <div>
            <label for="oldpassword">Old password</label>
            <input type="password" name="password" id ="oldpassword" required/>
        </div>
        <div>
            <label for="newpassword">New password</label>
            <input type="password" name="new_password1" id ="newpassword" required/>
        </div>
        <div>
            <label for="newpasswordagain" >New password, again</label>
            <input type="password" name="new_password2" id ="newpasswordagain" required/>
        </div>
        <div>
            <input type="submit" name="update_password" value='submit'>
        </div>
        <div>
            <input type="hidden" name="operation" value="update_password"/>
        </div>
        <div>
            <a href="/accounts/edit/"><b>Back to edit account</b></a>
        </div>
    </form>
</body>
</html>
